In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
# Carrega o arquivo
load_file = "dados_compras.json"
purchase_file = pd.read_json(load_file, orient = "records")
purchase_file['Compras'] = 1
purchase_file.head()

,Login,Idade,Sexo,Item ID,Nome do Item,Valor,Compras
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37,1
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32,1
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46,1
3,Pheusrical25,21,Masculino,92,Final Critic,1.36,1
4,Aela59,23,Masculino,63,Stormfury Mace,1.27,1

## Contagem de Consumidores

In [66]:
purchase_grouped = purchase_file.groupby("Login").agg(
    {
        'Valor': 'sum', 
        'Compras': 'sum',
        'Nome do Item': lambda x: ', '.join(x)
    }
)

total_consumers = len(purchase_grouped)

print(f'Número total de consumidores: {total_consumers}')

purchase_grouped.head()

Número total de consumidores: 573

,Valor,Compras,Nome do Item
Login,,,
Adairialis76,2.46,1,Bonecarvin Battle Axe
Aduephos78,6.70,3,"Alpha, Oath of Zeal, Primitive Blade, Final Cr..."
Aeduera68,5.80,3,"Crying Steel Sickle, Soul-Forged Steel Shortsw..."
Aela49,2.46,1,Bonecarvin Battle Axe
Aela59,1.27,1,Stormfury Mace

## Análise Geral de Compras

In [67]:
print(f'Número de itens exclusivos: {len(purchase_file["Item ID"].unique())}')

print('Preço médio de compra: R${0:.2f}'.format(purchase_file["Valor"].mean()))
total_buys = len(purchase_file)
print(f'Número total de compras: {total_buys}')

print('Rendimento total: R${0:.2f}'.format(purchase_file["Valor"].sum()))

Número de itens exclusivos: 183
Preço médio de compra: R$2.93
Número total de compras: 780
Rendimento total: R$2286.33

## Informações Demográfica por gênero

In [68]:
genders_groups = {}

def gender_info(gender):
    genders_groups[gender] = purchase_file[purchase_file['Sexo'] == gender]
    gender_group = genders_groups[gender].groupby(['Login'])
    num_gender = len(gender_group)
    pct_gender = num_gender / total_consumers
    print('----------------------')
    print(f'Compradores {gender}')
    print(f'Quantidade: {num_gender}')
    print('Porcentagem: {0:.2f}%'.format(pct_gender * 100))
    print('----------------------')

# Male buyer percentage and count
gender_info('Masculino')

# Female buyer percentage and count
gender_info('Feminino')

# Other buyer percentage and count
gender_info('Outro / Não Divulgado')

----------------------
Compradores Masculino
Quantidade: 465
Porcentagem: 81.15%
----------------------
----------------------
Compradores Feminino
Quantidade: 100
Porcentagem: 17.45%
----------------------
----------------------
Compradores Outro / Não Divulgado
Quantidade: 8
Porcentagem: 1.40%
----------------------

## Análise de Compras Por Gênero

In [69]:
def gender_analysis(gender):
    num_gender_buys = len(purchase_file[purchase_file['Sexo'] ==  gender])
    print('----------------------')
    print(f'Compradores {gender}')
    print(f'Número de compras: {len(genders_groups[gender])}')
    print('Preço médio de compra: R${0:.2f}'.format(genders_groups[gender]["Valor"].mean()))
    print('Valor total de compra: R${0:.2f}'.format(genders_groups[gender]["Valor"].sum()))
    for age in range(10, 110, 10):
        age_range = [(age - 10), age]
        print('Valor de compra [{0}-{1} anos]: R${2:.2f}'
              .format(
                  age_range[0], 
                  age_range[1], 
                  genders_groups[gender][(genders_groups[gender]["Idade"] >= age_range[0]) 
                                         & (genders_groups[gender]["Idade"] < age_range[1])]["Valor"].sum()
              ))
    print('----------------------')

# Male buy analysis
gender_analysis('Masculino')

# Female buy analysis
gender_analysis('Feminino')

# Other buy analysis
gender_analysis('Outro / Não Divulgado')

----------------------
Compradores Masculino
Número de compras: 633
Preço médio de compra: R$2.95
Valor total de compra: R$1867.68
Valor de compra [0-10 anos]: R$65.04
Valor de compra [10-20 anos]: R$386.36
Valor de compra [20-30 anos]: R$1120.68
Valor de compra [30-40 anos]: R$249.76
Valor de compra [40-50 anos]: R$45.84
Valor de compra [50-60 anos]: R$0.00
Valor de compra [60-70 anos]: R$0.00
Valor de compra [70-80 anos]: R$0.00
Valor de compra [80-90 anos]: R$0.00
Valor de compra [90-100 anos]: R$0.00
----------------------
----------------------
Compradores Feminino
Número de compras: 136
Preço médio de compra: R$2.82
Valor total de compra: R$382.91
Valor de compra [0-10 anos]: R$18.42
Valor de compra [10-20 anos]: R$93.01
Valor de compra [20-30 anos]: R$210.25
Valor de compra [30-40 anos]: R$53.32
Valor de compra [40-50 anos]: R$7.91
Valor de compra [50-60 anos]: R$0.00
Valor de compra [60-70 anos]: R$0.00
Valor de compra [70-80 anos]: R$0.00
Valor de compra [80-90 anos]: R$0.00
Valor de compra [90-100 anos]: R$0.00
----------------------
----------------------
Compradores Outro / Não Divulgado
Número de compras: 11
Preço médio de compra: R$3.25
Valor total de compra: R$35.74
Valor de compra [0-10 anos]: R$0.00
Valor de compra [10-20 anos]: R$4.00
Valor de compra [20-30 anos]: R$18.17
Valor de compra [30-40 anos]: R$13.57
Valor de compra [40-50 anos]: R$0.00
Valor de compra [50-60 anos]: R$0.00
Valor de compra [60-70 anos]: R$0.00
Valor de compra [70-80 anos]: R$0.00
Valor de compra [80-90 anos]: R$0.00
Valor de compra [90-100 anos]: R$0.00
----------------------

## Consumidores Mais Populares (Top 5)

In [91]:
# Top buyers dataframe
purchase_grouped['Preço médio'] = purchase_grouped['Valor'] / purchase_grouped['Compras']

top_buyers = purchase_grouped.sort_values('Valor', ascending=False)

print('--------------------------------------------------------------------------------------------------------\n')
print('Consumidores mais populares')
top_buyers.head()

--------------------------------------------------------------------------------------------------------

Consumidores mais populares

,Valor,Compras,Nome do Item,Preço médio
Login,,,,
Undirrala66,17.06,5,"Blood Infused Guardian, Spectral Diamond Doomb...",3.412000
Saedue76,13.56,4,"Serenity, Striker, Thorn, Satchel of Dark Soul...",3.390000
Mindimnya67,12.74,4,"Striker, Thunderfury Scimitar, Fiery Glass Cru...",3.185000
Haellysu29,12.73,3,"Blood-Forged Skeletal Spine, Thirsty Iron Reav...",4.243333
Eoda93,11.58,3,"Heartless Bone Dualblade, Stormfury Longsword,...",3.860000

## Itens Mais Populares

In [89]:
# Top itens dataframe
top_itens_grouped = purchase_file[['Item ID', 'Nome do Item', 'Valor']].groupby(
    ["Item ID", "Nome do Item", "Valor"]
).size().reset_index()
top_itens_grouped.columns = ['Item ID', 'Nome do Item', 'Valor', 'Nº compras']

top_itens_grouped['Valor total'] = top_itens_grouped['Valor'] * top_itens_grouped['Nº compras']

print('--------------------------------------------------------------------------------------------------------\n')
print('Itens mais vendidos')
top_itens_grouped.sort_values(by='Nº compras', ascending=False).head()

--------------------------------------------------------------------------------------------------------

Itens mais vendidos

,Item ID,Nome do Item,Valor,Nº compras,Valor total
39,39,"Betrayal, Whisper of Grieving Widows",2.35,11,25.85
84,84,Arcane Gem,2.23,11,24.53
31,31,Trickster,2.07,9,18.63
174,175,Woeful Adamantite Claymore,1.24,9,11.16
13,13,Serenity,1.49,9,13.41

## Itens Mais Lucrativos

In [87]:
print('--------------------------------------------------------------------------------------------------------\n')
print('Itens mais lucrativos')
top_itens_grouped.sort_values(by='Valor total', ascending=False).head()

--------------------------------------------------------------------------------------------------------

Itens mais lucrativos

     Item ID                Nome do Item  Valor  Nº compras  Valor total
34        34             Retribution Axe   4.14           9        37.26
115      115  Spectral Diamond Doomblade   4.25           7        29.75
32        32                     Orenmir   4.95           6        29.70
103      103              Singed Scalpel   4.87           6        29.22
107      107   Splitter, Foe Of Subtlety   3.61           8        28.88