In [17]:
import sqlite3
import pandas as pd

In [18]:
conn = sqlite3.connect('test.db')
c = conn.cursor()

In [19]:
c.execute('''CREATE TABLE COUNTRY
             ([generated_id] INTEGER PRIMARY KEY,[Country_ID] integer, [Country_Name] text)''')
conn.commit()

OperationalError: table COUNTRY already exists

In [20]:
sql = ''' INSERT INTO COUNTRY(Country_ID,Country_Name)
              VALUES(1,'Brazil') '''
c.execute(sql)
c.lastrowid
conn.commit()

In [25]:
c.execute('select * from COUNTRY')
rows = c.fetchall()
rows

[(1, 'Brazil', 'Canada'),
 (2, 'Brazil', 'Canada'),
 (3, 1, 'Brazil'),
 (4, 1, 'Brazil'),
 (5, 1, 'Brazil'),
 (6, 1, 'Brazil')]

In [27]:
df = pd.DataFrame(rows, columns=['generated_id','Country_ID','Country_Name'])
df

   generated_id Country_ID Country_Name
0             1     Brazil       Canada
1             2     Brazil       Canada
2             3          1       Brazil
3             4          1       Brazil
4             5          1       Brazil
5             6          1       Brazil